html, body {
  margin: 0;
  padding: 0;
  background-image: url('images/new house.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  min-height: 100vh;
}
canvas {
  display: block;
  background: transparent !important;
  position: relative;
  z-index: 1;
}

h1 {
  text-align: center;
  color: white;
  margin: 0;
  padding: 0;
  background-color: black;
  font-size: 9vh;
}

main{
    background-color: transparent;
    padding: 0;
    margin: 0;
}

