html, body {
  margin: 0;
  padding: 0;
  background-color: #9DA7BB;
}
canvas {
  display: block;
}

h1 {
  text-align: center;
  color: white;
  margin: 0;
  padding: 0;
  background-color: black;
  font-size: 6vh;
}

main{
    background-color: #9DA7BB;
    padding: 0;
    margin: 0;
}

